<div id="page-container" class="container-fluid" ng-animate-children>
  <div class="row justify-content-around">
    <span class="bold-heading text-gradient mb-2" data-aos="fade-left">Code</span>
  </div>
  <hr />
  <div class="row justify-content-around mb-4 project" ng-repeat="project in projects">
    <div class="col-md-3">
      <img ng-src="img/projects/{{project.image}}" class="img-fluid img-border round-corners hard-shadow clickable hover-zoom" ng-click="goToExternalSite(project.url)" />
    </div>
    <div class="col-md-7 left-vert-center" ng-class="{'mt-3': mobile}">
      <a class="text-gradient clickable hover-zoom" ng-click="goToExternalSite(project.url)">{{project.name}}</a>
      <span class="text-muted">{{project.date}} &mdash; {{project.status}}</span>
      {{mobile ? project.shortDesc : project.longDesc}}
    </div>
  </div>
</div>
